{% extends "layouts/base.html" %}
{% load crispy_forms_filters %}

{% block content %}
<div class="container">
    <div class="row justify-content-center py-1">
        <div class="col-sm-6 col-md-5 col-lg-4">
             <h4 class="mt-1">Add Student</h4>

            <form action="{% url 'home' %}" method="post" class="py-4 px-3 shadow">
                {% csrf_token %}
                 {{ form | crispy}}
                <div class="text-center">
                    <button class="btn btn-dark rounded-0 w-100">Submit</button>
                </div>

            </form>
        </div>
    </div>
</div>
{% endblock %}